#overlay {
  position: fixed;
  z-index: 2;
  display: block;
  background-color: #ffffff;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.color {
  background-color: #aa66cc;
}

.container-holder {
  border: #aa66cc;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
}

#close {
  position: fixed;
  right: 4%;
  top: 5%;
}
