.is-hidden {
            display: none;
        }

        .logo {
            max-width: 160px;
        }

        .centerDiv {
            margin-left: auto;
            margin-right: auto;
        }

        .hero {
            background: #66636f;
            /* fallback for old browsers */
        }

        .card {
            border-radius: 8px;
            box-shadow: 0 1.5px 3px 0 rgba(55, 44, 55, 0.9);
            transition: 0.3s;
        }

        .card:hover {
            box-shadow: 0 1.5px 1px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }


        .logo {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .btn-mydefault {
            font-size: 16px;
            background: #0ac97b;
            border-color: #fff;
            color: #fff;
            transition: 1.0s;
        }

        .btn-mydefault:hover {
            background: #00c853;
        }

        footer>a {
            color: #000;
        }

        footer>a:hover {
            color: grey;
        }

        .notification {
            transition: 0.3s;
        }