.template {
  overflow-x: hidden;
}
.selected {
  border: 1.28px solid transparent;
  padding: 2.56px;
}
.selected:hover {
  border: 1.28px solid #4c9ff9 !important;
}
.options {
  position: fixed;
  z-index: 1;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: white;
  border: 1px outset #e0e0e0;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  height: 64px;
  padding: 0 32px;
}
/* .style-picker {
  overflow-y: scroll;
} */
/* .bot-wrapper {
    overflow: scroll;
} */
