.card:hover {
  cursor: pointer;
}
.InputAddOn {
  display: flex;
}

.InputAddOn-field {
  flex: 1;
  /* field styles */
}

.InputAddOn-item {
  /* item styles */
}
.icons {
  padding: 10px;
}
.icons:hover {
  background-color: #d7d8d9;
}
